<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/main.27ee2efe.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap"
      rel="stylesheet"
    />
    <title>Highscore</title>
  </head>
  <body>
    {{>navbar}}
    {{{body}}}
  <script src="/select.js"></script>  
  </body>
</html>

